/*.name{
	float: right;
}*/

.spots{
	padding-top: 72px;
	text-align: center;
}

@media (max-width: 1200px){
	.spots{
		padding-top: 0;
	}
}

.navi2{
	text-align: center;
}

.work a:hover{
	text-decoration: none;
}

.work a:active{
	text-decoration: none;
}

h2{
	text-align: center;
}

h1{
	text-align: center;
}

