/*.name{
	float: right;
}*/

.spots{
	padding-top: 72px;
	text-align: center;
}

@media (max-width: 1200px){
	.spots{
		padding-top: 0;
	}
}

.thumbnail{
	border: none;
	color: black;
}

a.thumbnail:active, a.thumbnail:focus, a.thumbnail:hover {
  border: none;
  color: white;
  background-color: gray;
}




.navi2{
	text-align: center;
}

.work a:hover{
	text-decoration: none;
}

.work a:active{
	text-decoration: none;
}

h2{
	text-align: center;
}

h1{
	text-align: center;
}

.input-group{
	width:100%;
	text-align: left;
}

.modal-title{
	text-align: center;
}

.contact{
	text-align: center;
}

.navbar-btn{
	margin: 0;
}

.container{
	padding-top: 5%;
}

.head{
	padding-top: 0%;
}