/*.name{
	float: right;
}*/

.spots{
	padding-top: 72px;
	text-align: center;
}

@media (max-width: 1200px){
	.spots{
		padding-top: 0;
	}
}

@media (max-width: 768px) {
    body{font-size: 20px;}
}

@media (max-width: 992px) {
    body{font-size: 30px;}
    h2{font-size: 40px;}
    h1{font-size: 50px;}
}

.navi2{
	text-align: center;
}

.work a:hover{
	text-decoration: none;
}

.work a:active{
	text-decoration: none;
}

h2{
	text-align: center;
}

h1{
	text-align: center;
}

.input-group{
	width:100%;
}

.modal-title{
	text-align: center;
}

.contact{
	text-align: center;
}

.navbar-btn{
	margin: 0;
}

.container{
	padding-top: 5%;
}

.head{
	padding-top: 0%;
}